<?xml version="1.0"?>
<launch>

    

    <arg name="odom_frame"         default="odom" />
    <arg name="base_frame"         default="base_link" />
    <arg name="odom_topic_name"    default="odom" />
    <arg name="is_scout_mini"      default="false" />
    <arg name="is_omni_wheel"      default="false" />

    <arg name="model"   default="$(find bot_description)/urdf/bot.urdf.xacro " />

    <include file="$(find bot_bringup)/launch/bot_base.launch">
        <arg name="odom_frame"           default="$(arg odom_frame)" />
        <arg name="base_frame"           default="$(arg base_frame)" />
        <arg name="odom_topic_name"      default="$(arg odom_topic_name)" />
        <arg name="is_scout_mini"        default="$(arg is_scout_mini)" />
        <arg name="is_omni_wheel"        default="$(arg is_omni_wheel)" />
    </include>

    <include file="$(find bot_description)/launch/bot_description.launch">
        <arg name="model" default="$(arg model)" />
    </include>

</launch>